<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GBShopRSN.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5DCB79125D87D7700220690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DCB7A725D87D7B00220690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DCB7B225D87D7B00220690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
